<div class="center">
  <h2>Search Engine</h2>
  <form class="center" style="text-align: center" (ngSubmit)="submit()">
    <mat-form-field class="center">
      <input
        matInput
        placeholder="Search...."
        [(ngModel)]="search_query"
        name="query"
        #query="ngModel"
        style="width: 100%"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      style="margin-left: 1%"
      type="submit"
    >
      Search
    </button>
  </form>
  <table class="center">
    <tbody>
      <tr *ngFor="let item of result['items']">
        <td>
          <mat-card>
            <mat-card-header
              ><a href="{{ item.link }}" target="_blank">{{
                item.title
              }}</a></mat-card-header
            >
            <mat-card-content> {{ item.snippet }}</mat-card-content>
          </mat-card>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-row center" style="display: flex; justify-content: center;" *ngIf="result.items">
    <button mat-raised-button color="accent" class="nav center" type="button" (click)="prev()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button color="accent" class="nav center" type="button" (click)="next()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
