<div class="center" style="justify-content: center;width: 100%;">
  
  <form class="center" style="text-align: center" (ngSubmit)="submit()">
    <h1 style="text-align: center">Search Engine</h1>
    <mat-form-field class="center">
      <input
        matInput
        placeholder="Search...."
        [(ngModel)]="search_query"
        name="query"
        #query="ngModel"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      style="margin-left: 1%;padding: 27px"
      type="submit"
    >
      Search
    </button>
  </form>
  </div>
  <div class="center-padding" style="width: 100%;">
  <table class="center-padding">
    <tbody>
      <tr *ngFor="let item of result['items']">
        <td>
          <mat-card>
            <mat-card-header
              ><a href="{{ item.link }}" target="_blank">{{
                item.title
              }}</a></mat-card-header
            >
            <mat-card-content> {{ item.snippet }}</mat-card-content>
          </mat-card>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-row" style="display: flex; justify-content: center;" *ngIf="result.items">
    <button mat-raised-button color="accent" class="nav" type="button" (click)="prev()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button color="accent" class="nav" type="button" (click)="next()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
